<form action="getsource/download" method="post">
  <h2>Phan mem an trom giao dien website</h2>
       <br>
Nhap link website: <input name="link" type="text" size="100" />
            <br>
  <br>
<input type="submit" name="submit" class="btn" id="submit" value="Submit">
</form>